## RAIZ 
# VS Code / sistema
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
Thumbs.db
.DS_Store
*.log
*.tmp
*.temp

## BACK-END
# Build
back-end/**/bin/
back-end/**/obj/

# Migrations (se geradas automaticamente)
back-end/**/Migrations/

# Arquivos de usuário específicos do VS
back-end/**/*.user
back-end/**/*.dbmdl
back-end/**/*.cache

# Logs
front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
front-end/pnpm-debug.log*