## ROOT
# VS Code / System
.vscode/
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
Thumbs.db
.DS_Store
*.log
*.tmp
*.temp

## BACK-END
# Build
back-end/**/bin/
back-end/**/obj/

# VS user-specific files
back-end/**/*.user
back-end/**/*.dbmdl
back-end/**/*.cache

# Logs
front-end/npm-debug.log*
front-end/yarn-debug.log*
front-end/yarn-error.log*
front-end/pnpm-debug.log*